_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_Store
.ruby-version
.tweet-cache
Gemfile.lock
assets/libs/
node_modules/
vendor
.idea
.venv/
_site/
readme_preview/
lighthouse_results/
.DS_Store
jekyll.log
