<div class="daily-visitor-counter-wrap">
  <div class="daily-visitor-counter">
    <div class="daily-counter-box" id="daily-counter-box">
      <span id="daily-counter-number">123</span>
    </div>
  </div>
</div>

<script src="{{ '/assets/js/daily_counter.js' | relative_url }}" defer></script> 