{% assign home_path = '/' %}
{% assign publications_label = 'publications' %}
{% assign about_title = 'About' %}
{% for nav_page in site.pages %}
  {% if nav_page.permalink == home_path %}
    {% assign about_title = nav_page.title %}
    {% break %}
  {% endif %}
{% endfor %}
{% assign is_home = false %}
{% if page.permalink == home_path %}
  {% assign is_home = true %}
{% endif %}

<header>
  <nav id="navbar" class="navbar navbar-light navbar-expand-sm glass {% if site.navbar_fixed %}fixed-top{% endif %}" role="navigation">
    <div class="container">
      {% include header/brand.liquid home_path=home_path is_home=is_home %}

      <button
        class="navbar-toggler collapsed ml-auto glass"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>

      <div class="collapse navbar-collapse text-right" id="navbarNav">
        {% include header/navigation.liquid home_path=home_path about_title=about_title publications_label=publications_label %}
      </div>
    </div>
  </nav>
  {% if site.enable_progressbar %}
    <progress id="progress" value="0">
      <div class="progress-container">
        <span class="progress-bar"></span>
      </div>
    </progress>
  {% endif %}
</header>
