<div class="list-groups">
  {% for content in data[1] %}
    <div class="list-group col-md-6" title="{{ content.level }}">
      <table class="table-cv list-group-table">
        <tbody>
          {% include shared/list_group_header.liquid title=content.name icon=content.icon colspan=1 %}
          {% for item in content.keywords %}
            <tr>
              <td></td>
              <td class="list-group-name">
                <b>{{ item }}</b>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>
